body{
   background-image: url("img/Gradiente.jpg");
   overflow-y: hidden;
   overflow-x: hidden;
}


h1{

    margin-left: auto;
    margin-right: auto;
    width: 18em;
    color: white;
    font-family: Nunito, sans-serif;
    size: 28px;
    font-weight: 700;
    text-align: center;
}

p{
    margin-left: auto;
    margin-right: auto;
    width: 18em;
    color: white;
    font-family: Nunito, sans-serif;
    size: 20px;
    text-align: center, justify;
}

a{
   display: flex;
   justify-content: center;
}